<!DOCTYPE html>
<html>
<head>
  <title>Tronprint: measure your Ruby app's carbon footprint</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/html5.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/syntax.css" />
  <meta charset="utf-8">
</head>
<body>
  <script type="text/javascript">
  //<![CDATA[
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1667526-20']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  //]]>
  </script>
  <header>
    <h1>Tronprint</h1>
    <h2>Measure your Ruby app's carbon footprint</h2>
  </header>
  <article>
{{ content }}
  </article>
  <footer>
    <script type="text/javascript" src="http://carbon.brighterplanet.com/badge.js"></script>
  </footer>
</body>
</html>
